#container {
    width: 100%;
    height: 100vh;
    max-height: 500px;
    /* Pure section ka full height */
    overflow: hidden;
    position: relative;
    margin-top: 4rem;
}

#img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Full section cover */
    object-position: center;
    /* Center align */
    position: absolute;
    transition: transform 0.5s ease-in-out;
}

/* section style  */
.category-container {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background: white;
}

.category-item {
    text-align: center;
    cursor: pointer;
}

.category-item img {
    width: 70px;
    height: 70px;
    object-fit: contain;
    transition: 0.3s;
}

.category-item p {
    margin-top: 5px;
    font-size: 14px;
    font-weight: 600;
}

.category-item:hover img {
    transform: scale(1.05);
}

h1 {
    font-size: 20px;
    margin-left: 20px;
}

/* .containers{

} */
 .card{
    text-align: center;
 }
.card .img{
    width: 150px;
    margin-left: 22%;
    margin-bottom: 10px;
}
.img1{
    width: 170px;
     margin-left: 20%;
    margin-bottom: 10px;
}
.new1::before{
  /* content: 'Sale'; */
  position: absolute;
  top: 10px;
  left: 20px;
  padding: .2rem 1.3rem;
  color: var(--white-clr);
  font-weight: 300;
}
.new1::before{
  content: 'New';
  background: var(--tag-clr);
}
/* Mobile Responsive */
@media (max-width: 768px) {
    #container {
        height: 40vh;
        /* margin-top: 3rem;  */
    }
}

@media (max-width: 480px) {
    #container {
        height: 30vh;
        /* margin-top: 5rem;    */
    }

    #img {
        /* object-fit: contain; */
    }

    .category-container {
        padding: 20px 20px;
    }

    .category-item {
        flex: 1 1 100px;
    }
    .img{
        margin-right: 2rem;

    }
    .top-deals {
    grid-template-columns: repeat(1, 1fr); 
      gap: 20px; /* mobile = 1 card */
  }
 
  .card img {
    width: 100px;
    margin-right: 40px;
  }
  .card .img1{
    width: 100px;
   margin-left: 60px;
  }
}
    .category-item img {
        width: 60px;
        height: 60px;
    }

    .category-item p {
        font-size: 13px;
    }

    .category-container {
        flex-wrap: nowrap;
        overflow-x: auto;
        gap: 20px;
        padding: 15px 10px;
    }

    .category-item {
        flex: 0 0 auto;
        min-width: 75px;
    }

    .category-item img {
        width: 50px;
        height: 50px;
    }

    .category-item p {
        font-size: 12px;
        font-weight: 500;
    }

    /* Hide Scrollbar on mobile */
    .category-container::-webkit-scrollbar {
        display: none;
    }}